html {
    max-height: 600px;
    overflow-y: hidden;
}
main {
    max-height: 450px;
    overflow-y: auto;
    margin-block-end: .5em;
}
body {
    background-color: lightblue;
    min-width: 400px;
}
  
h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

h2 {
    color: white;
    font-size: 1.5em;
}

h3 {
    color: lightblue;
    font-size: .8em;
    margin-block-start: 0em;

}

div {
    color: lightblue;
    text-align: center;
    font-weight: bold;
    
}
  

p {
    font-family: verdana;
    font-size: 15px;
    color: gray;
}

p1 {

    color: white;

}

button {

    vertical-align: middle;
    border-radius: 8px;
}

button:hover{

    background-color: gray;
}
  
.conditions-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    
    background-color: white;
}

.name-container {

    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-gap: 10px;
    
}

.bot-container {

    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
    color: white;

  }

.GOOD {background-color: #ffbe00}

.FAIR {background-color: #23d737}

.POOR {background-color: #42a5fc}

